<div class="bg-light lter b-b wrapper-md">
  <h1 class="m-n font-thin h3">Datatable</h1>
</div>
<div class="wrapper-md" ng-controller="UsersCtrl" id="UsersCtrl">
  <div class="panel panel-default">
    <div class="panel-heading">
      DataTables
    </div>
    <div class="table-responsive">
      <table ui-jq="dataTable" ui-options="tbOptions" class="table table-striped b-t b-b" ui-refresh="dataTable">
        <thead>
          <tr>
            <th  style="width:5%">Select All</th>
            <th  style="width:27%">Name</th>
            <th  style="width:28%">Email</th>
            <th  style="width:15%">Password</th>
            <th  style="width:15%">Active</th>          
            <th  style="width:5%">Edit</th>
            <th  style="width:5%">Delete</th>
          </tr>
        </thead>
        <tbody>
        </tbody>
      </table>
    </div>
  </div>
</div>
