<div ng-controller="AnimalsCtrl">
  <div class="bg-light lter b-b wrapper-md">
    <h1 class="m-n font-thin h3">Animals</h1>
  </div>



  <div class="col-sm-">
    <div class="panel panel-default">
      <div class="panel-heading font-bold">Add New Animal</div>
      <div class="panel-body">
        <form class="bs-example form-horizontal" ng-submit="addNewAnimal()">
          <div class="form-group">
            <label class="col-lg-2 control-label">Purchase Date</label>
            <div class="col-lg-10">
              <input type="text" class="form-control" placeholder="purchaseDate" ng-model="purchaseDate">
              <span class="help-block m-b-none">Please enter the Purchase Date here.</span>
            </div>
          </div>

          <div class="form-group">
            <label class="col-lg-2 control-label">Birth Date</label>
            <div class="col-lg-10">
              <input type="text" class="form-control" placeholder="birthDate" ng-model="birthDate">
              <span class="help-block m-b-none">Please enter the Birth Date here.</span>
            </div>
          </div>

          <div class="form-group">
            <label class="col-lg-2 control-label">Birth Weight</label>
            <div class="col-lg-10">
              <input type="text" class="form-control" placeholder="birthWeight" ng-model="birthWeight">
              <span class="help-block m-b-none">Please enter the Birth Weight here.</span>
            </div>
          </div>


          <div class="form-group">
            <label class="col-lg-2 control-label">Current Weight</label>
            <div class="col-lg-10">
              <input type="text" class="form-control" placeholder="currentWeight" ng-model="currentWeight">
              <span class="help-block m-b-none">Please enter the Current Weight here.</span>
            </div>
          </div>


          <farm-lookup></farm-lookup>
          
          <tag-lookup></tag-lookup>

          
          <div class="form-group">
            <label class="col-lg-2 control-label">Breed</label>
            <div class="col-lg-10">
              <input type="text" class="form-control" placeholder="breed" ng-model="breed">
              <span class="help-block m-b-none">Please enter the Breed here.</span>
            </div>
          </div>

        <div class="form-group">
            <label class="col-lg-2 control-label">Purchase Price</label>
            <div class="col-lg-10">
              <input type="text" class="form-control" placeholder="purchasePrice" ng-model="purchasePrice">
              <span class="help-block m-b-none">Please enter the Purchase Price here.</span>
            </div>
          </div>


                    <div class="form-group">
            <label class="col-lg-2 control-label">Current Price</label>
            <div class="col-lg-10">
              <input type="text" class="form-control" placeholder="currentPrice" ng-model="currentPrice">
              <span class="help-block m-b-none">Please enter the Current Price here.</span>
            </div>
          </div>


          <div class="form-group">
            <div class="col-lg-offset-2 col-lg-10">
              <button type="submit" class="btn btn-sm btn-info">Save</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>



  <div class="wrapper-md" id="AnimalsCtrl">
    <div class="panel panel-default">
      <div class="panel-heading">
        Product List
      </div>
      <div class="table-responsive">
        <table ui-jq="dataTable" ui-options="tbOptions" class="table table-striped b-t b-b" ui-refresh="dataTable">
          <thead>
            <tr>
              <th style="width:5%">Select All</th>
              <th style="width:10%">Animal ID</th>
              <th style="width:10%">Purchase Date</th>
              <th style="width:8%">Birth Date</th>
              <th style="width:8%">Birth Weight</th>
              <th style="width:10%">Current Weight</th>
              <th style="width:8%">Farm ID</th>
              <th style="width:8%">Tag ID</th>
              <th style="width:8%">Breed</th>
              <th style="width:5%">Initial Price</th>
              <th style="width:5%">Current Price</th>
              
              <th style="width:5%">Active</th>
              <th style="width:5%">Edit</th>
              <th style="width:5%">Delete</th>
            </tr>
          </thead>
          <tbody>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>