<div class="bg-light lter b-b wrapper-md">
  <h1 class="m-n font-thin h3">Edit Company</h1>
</div>
<div class="wrapper-md" ng-controller="CompanyCtrl">
    <div class="row">

        <div class="col-sm-">
            <div class="panel panel-default">
                <div class="panel-heading font-bold">Details</div>
                <div class="panel-body">
                <form class="bs-example form-horizontal" ng-submit="updateCompanyName()">
                    <div class="form-group">
                    <label class="col-lg-2 control-label">Comapny Name</label>
                    <div class="col-lg-10">
                        <input type="text" class="form-control" placeholder="companyName" ng-model="companyName">
                        <span class="help-block m-b-none">Please enter the comapny name here.</span>
                    </div>
                    </div>

                    <div class="form-group">
                    <div class="col-lg-offset-2 col-lg-10">
                        <button type="submit" class="btn btn-sm btn-info">Save</button>
                    </div>
                    </div>
                </form>
                </div>
            </div>
            </div>

        </div>

    </div>


</div>