<div ng-controller="CustomersCtrl">
  <div class="bg-light lter b-b wrapper-md">
    <h1 class="m-n font-thin h3">Customers</h1>
  </div>



  <div class="col-sm-">
    <div class="panel panel-default">
      <div class="panel-heading font-bold">Add New Customer</div>
      <div class="panel-body">
        <form class="bs-example form-horizontal" ng-submit="addNewCustomer()">
          <div class="form-group">
            <label class="col-lg-2 control-label">Name</label>
            <div class="col-lg-10">
              <input type="text" class="form-control" placeholder="customerName" ng-model="customerName">
              <span class="help-block m-b-none">Please enter the Customer name here.</span>
            </div>
          </div>

          <div class="form-group">
            <label class="col-lg-2 control-label">Address</label>
            <div class="col-lg-10">
              <input type="text" class="form-control" placeholder="address" ng-model="address">
              <span class="help-block m-b-none">Please enter the Customer address here.</span>
            </div>
          </div>

          <div class="form-group">
            <label class="col-lg-2 control-label">Phone</label>
            <div class="col-lg-10">
              <input type="text" class="form-control" placeholder="phone" ng-model="phone">
              <span class="help-block m-b-none">Please enter the Customer phone here.</span>
            </div>
          </div>


          <div class="form-group">
            <label class="col-lg-2 control-label">CNIC</label>
            <div class="col-lg-10">
              <input type="text" class="form-control" placeholder="cnic" ng-model="cnic">
              <span class="help-block m-b-none">Please enter the cnic here.</span>
            </div>
          </div>


         <div class="form-group">
            <label class="col-lg-2 control-label">Last Rate</label>
            <div class="col-lg-10">
              <input type="text" class="form-control" placeholder="lastRate" ng-model="lastRate">
              <span class="help-block m-b-none">Please enter the Latest Rate here.</span>
            </div>
          </div>

         <div class="form-group">
            <label class="col-lg-2 control-label">Total Payment Due</label>
            <div class="col-lg-10">
              <input type="text" class="form-control" placeholder="totalPaymentDue" ng-model="totalPaymentDue">
              <span class="help-block m-b-none">Please enter the Total Payment Due here.</span>
            </div>
          </div>

        <div class="form-group">
            <div class="col-lg-offset-2 col-lg-10">
              <button type="submit" class="btn btn-sm btn-info">Save</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>



  <div class="wrapper-md" id="CustomersCtrl">
    <div class="panel panel-default">
      <div class="panel-heading">
        Customer List
      </div>
      <div class="table-responsive">
        <table ui-jq="dataTable" ui-options="tbOptions" class="table table-striped b-t b-b" ui-refresh="dataTable">
          <thead>
            <tr>
              <th style="width:5%">Select All</th>
              <th style="width:20%">Name</th>
              <th style="width:20%">Address</th>
              <th style="width:10%">Phone</th>
              <th style="width:10%">CNIC</th>
              <th style="width:10%">Last Rate</th>
              <th style="width:10%">Total Payment Due</th>
              
              <th style="width:5%">Active</th>
              <th style="width:5%">Edit</th>
              <th style="width:5%">Delete</th>
            </tr>
          </thead>
          <tbody>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>