<div ng-controller="ExpenseCtrl">
  <div class="bg-light lter b-b wrapper-md">
    <h1 class="m-n font-thin h3">Expense</h1>
  </div>
  <div class="wrapper-md"
       id="ExpenseCtrl">
    <div class="panel panel-default">
      <div class="panel-heading">Expenses List</div>
      <div class="table-responsive">
        <table class="table table-striped b-t b-b"
               ui-jq="dataTable"
               ui-options="tbOptions"
               ui-refresh="dataTable">
          <thead>
            <tr>
              <th style="width:5%">Select All</th>
              <th style="width:20%">Expense Description</th>
              <th style="width:20%">Expense Date</th>
              <th style="width:20%">Expense Amount</th>
              <th style="width:5%">Active</th>
              <th style="width:5%">Edit</th>
              <th style="width:5%">Delete</th>
            </tr>
          </thead>
          <tbody></tbody>
        </table>
      </div>
      <div class="panel-body">
        <form class="bs-example form-horizontal"
              ng-submit="addNewExpense()">
          <div class="form-group">
            <div class="col-lg-offset-2 col-lg-10">
              <button class="btn btn-sm btn-info"
                      type="submit">Create New Expense</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
