<div ng-controller="ProductsCtrl">
<div class="bg-light lter b-b wrapper-md">
  <h1 class="m-n font-thin h3">Products</h1>
</div>

   

        <div class="col-sm-">
            <div class="panel panel-default">
                <div class="panel-heading font-bold">Add New Product</div>
                <div class="panel-body">
                <form class="bs-example form-horizontal" ng-submit="addNewProduct()">
                    <div class="form-group">
                    <label class="col-lg-2 control-label">Product Name</label>
                    <div class="col-lg-10">
                        <input type="text" class="form-control" placeholder="productName" ng-model="productName">
                        <span class="help-block m-b-none">Please enter the Product name here.</span>
                    </div>
                    </div>

                    <div class="form-group">
                    <label class="col-lg-2 control-label">Product Description</label>
                    <div class="col-lg-10">
                        <input type="text" class="form-control" placeholder="productDescription" ng-model="productDescription">
                        <span class="help-block m-b-none">Please enter the Product description here.</span>
                    </div>
                    </div>

                    <div class="form-group">
                    <label class="col-lg-2 control-label">Product Price</label>
                    <div class="col-lg-10">
                        <input type="text" class="form-control" placeholder="productPrice" ng-model="productPrice">
                        <span class="help-block m-b-none">Please enter the Product Price here.</span>
                    </div>
                    </div>


                    <div class="form-group">
                    <label class="col-lg-2 control-label">Price Unit</label>
                    <div class="col-lg-10">
                        <input type="text" class="form-control" placeholder="productPer" ng-model="productPer">
                        <span class="help-block m-b-none">Please enter the Price Unit here.</span>
                    </div>
                    </div>


                    <div class="form-group">
                    <div class="col-lg-offset-2 col-lg-10">
                        <button type="submit" class="btn btn-sm btn-info">Save</button>
                    </div>
                    </div>
                </form>
                </div>
            </div>
            </div>

        

<div class="wrapper-md"  id="ProductsCtrl"> 
  <div class="panel panel-default">
    <div class="panel-heading">
      Product List
    </div>
    <div class="table-responsive">
      <table ui-jq="dataTable" ui-options="tbOptions" class="table table-striped b-t b-b" ui-refresh="dataTable">
        <thead>
          <tr>
            <th  style="width:15%">Select All</th>
            <th  style="width:20%">Product Name</th>
            <th  style="width:25%">Product Description</th>
            <th  style="width:10%">Product Price</th>
            <th  style="width:15%">Unit Price</th>   
            <th  style="width:10%">Active</th>                      
            <th  style="width:5%">Edit</th>
            <th  style="width:5%">Delete</th>
          </tr>
        </thead>
        <tbody>
        </tbody>
      </table>
    </div>
  </div>
</div>
</div>