<div ng-controller="TagsCtrl">
<div class="bg-light lter b-b wrapper-md">
  <h1 class="m-n font-thin h3">Tags</h1>
</div>

   

        <div class="col-sm-">
            <div class="panel panel-default">
                <div class="panel-heading font-bold">Add New Tag</div>
                <div class="panel-body">
                <form class="bs-example form-horizontal" ng-submit="addNewTag()">
                    <div class="form-group">
                    <label class="col-lg-2 control-label">Tag Name</label>
                    <div class="col-lg-10">
                        <input type="text" class="form-control" placeholder="animalTagName" ng-model="animalTagName">
                        <span class="help-block m-b-none">Please enter the Tag name here.</span>
                    </div>
                    </div>

                    <div class="form-group">
                    <div class="col-lg-offset-2 col-lg-10">
                        <button type="submit" class="btn btn-sm btn-info">Save</button>
                    </div>
                    </div>
                </form>
                </div>
            </div>
            </div>

        

<div class="wrapper-md"  id="TagsCtrl"> 
  <div class="panel panel-default">
    <div class="panel-heading">
      Tag List
    </div>
    <div class="table-responsive">
      <table ui-jq="dataTable" ui-options="tbOptions" class="table table-striped b-t b-b" ui-refresh="dataTable">
        <thead>
          <tr>
            <th  style="width:15%">Select All</th>
            <th  style="width:60%">Tag Name</th>
            <th  style="width:15%">Active</th>          
            <th  style="width:5%">Edit</th>
            <th  style="width:5%">Delete</th>
          </tr>
        </thead>
        <tbody>
        </tbody>
      </table>
    </div>
  </div>
</div>
</div>