<div ng-controller="WeightCtrl">
<div class="bg-light lter b-b wrapper-md">
  <h1 class="m-n font-thin h3">Weight</h1>
</div>

   

        <div class="col-sm-">
            <div class="panel panel-default">
                <div class="panel-heading font-bold">Add New Weight</div>
                <div class="panel-body">
                <form class="bs-example form-horizontal" ng-submit="addNewWeight()">
                    
                    <div class="form-group">
                        <label class="col-lg-2 control-label">Animal ID</label>
                        <div class="col-lg-10">
                            <input type="text" class="form-control" placeholder="animalId" ng-model="animalId" ng-keyup="fetchAnimalDetails()">
                            <span class="help-block m-b-none">Please enter the Animal ID here.</span>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-lg-2 control-label">Date</label>
                        <div class="col-lg-10">
                            <input type="text" class="form-control" placeholder="date" ng-model="date">
                            <span class="help-block m-b-none">Please enter the Date here.</span>
                        </div>
                    </div>


                    <div class="form-group">
                        <label class="col-lg-2 control-label">Weight</label>
                        <div class="col-lg-10">
                            <input type="text" class="form-control" placeholder="weight" ng-model="weight">
                            <span class="help-block m-b-none">Please enter the Weight here.</span>
                        </div>
                    </div>

                    <div class="form-group">
                    <div class="col-lg-offset-2 col-lg-10">
                        <button type="submit" class="btn btn-sm btn-info">Save</button>
                    </div>
                    </div>
                </form>
                </div>
            </div>
            </div>

        

<div class="wrapper-md"  id="WeightCtrl"> 
  <div class="panel panel-default">
    <div class="panel-heading">
      Weight List
    </div>
    <div class="table-responsive">
      <table ui-jq="dataTable" ui-options="tbOptions" class="table table-striped b-t b-b" ui-refresh="dataTable">
        <thead>
          <tr>
            <th  style="width:5%">Select All</th>
            <th  style="width:15%">Animal ID</th>
            <th  style="width:10%">Date</th>
            <th  style="width:10%">Weight</th>
            <th  style="width:10%">Current Price</th>
            <th  style="width:10%">Birth Weight</th>
            <th  style="width:15%">Last Weight On</th>
            <th  style="width:10%">Last Weight</th>
            <th  style="width:5%">Active</th>          
            <th  style="width:5%">Edit</th>
            <th  style="width:5%">Delete</th>
          </tr>
        </thead>
        <tbody>
        </tbody>
      </table>
    </div>
  </div>
</div>
</div>